/* Austin Real Estate Website Style file */
:root {
  --blue: #1298db;
  --darkblue: rgba(21, 133, 189, 0.936);
  --seablue: #f2f3ee;
  --lightseablue: #c3dfea;
  --light: #f2f2f2;
}

.custom-navbar a {
  font-size: 1rem;
  color: slateblue;
  
}

.custom-navbar a:hover {
  color: black;
}

.container-fluid {
color: black;
margin-left: 20px;
}

.custom-container {
  margin-left: 30px;
  margin-right:10px;
  width: 100%;
}

.hero {
  /* background-color: var(--seablue); */
  /* color: var(--darkblue); */
  color: rgb(244, 77, 77);
  background-color: #1298db;
  font-style: italic;
}

#mylogo{
  height:75px;
  width: auto;
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}

#greatdivide {
  width: 1200px;
  height: 600px;;
  padding: 10px;
  margin-left: 60px;
}

li {
  font-style: italic;
  font-size: 15px;
  margin-bottom: 10px;
  color: #402e2e;
}

.custom-sidebar {
  padding-top: 10px;
  width: 275px;
  background-color: lightsteelblue;
  margin-right: 10px;
}

#testimonials, #aboutMe {
background-color: lightsteelblue;
padding: 20px;
font-style: italic;
margin-top: 10px;
}

footer {
  margin-left: 20px;
  margin-right: 20px;
  font-size:small;
}